---
import Layout from "../layouts/Layout.astro";
import { cards } from "../data/cards";
import Header from "../components/Header";
import Footer from "../components/Footer";
export const prerender = false;

const { card } = Astro.params;

const cardData = cards.find((c) => c.id === card);

if (!cardData) {
  return Astro.redirect("/404");
}
---

<Layout
  title={cardData.title}
  styleBody="background-image: url('imgs/secundaria-bg.jpg'); background-size: cover; background-position: center top;"
>
  <Header />
  <div class="h-screen flex flex-col text-center gap-10 md:gap-20 sm:px-10 md:px-20 lg:px-40 xl:px-56 2xl:px-96">
    <h1 class="text-6xl font-bold md:mt-20">{cardData.title}</h1>
    <p class="text-lg mx-10 md:text-2xl font-medium text-center">
      {cardData.description}
    </p>
  </div>
  <Footer />
</Layout>
